/* ==================== 초기화 ==================== */
* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

/* ==================== 메인 메뉴 ==================== */

/* 메인메뉴 아이템 버튼 디자인 */
/* 플롯 사용 */
/* 포지션을 렐리티브로 잡아서 하위 메뉴의 위치 이동 기준으로 잡아줌. */
ul.main-menu>li {
  float: left;
  position: relative;
  width: 150px;
  text-align: center;
  padding: 10px 0;
  background-color: #888888;
  cursor: pointer;
  box-sizing: border-box;
}

/* 플롯을 사용했으니 다른 레이아웃에 영향이 없도록 플롯을 지워줌. */
ul.main-menu {
  display: inline-block;
}

/* 메인메뉴의 하위 메뉴는 기본적으로 숨겨둠. */
ul.main-menu>li ul {
  display: none;
  position: absolute;
  width: 100%;
  top: 41px;
}

ul.main-menu>li:hover {
  background-color: #777777;
}

/* 호버되었을 때 보이게 만듬. */
ul.main-menu>li:hover ul {
  display: block;
}

ul.main-menu>li:hover ul>li {
  line-height: 50px;
  background-color: #eeeeee;
}

ul.main-menu>li:hover ul>li:hover {
  background-color: #333333;
  color: #ffffff;
}

/* 디자인은 자유. */