@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

:root {
  scroll-behavior: smooth;
  --white-f: #ffffff;
  --white-e: #eeeeee;
  --white-e5: #eeeeee80;
  --black-2: #222222;
  --black-3: #333333;
  --black-5: #555555;
  --black-6: #666666;

  /* 베이스 후보 1 */
  /* --c-base: #fdfcc880; */

  /* 베이스 후보 2 */
  --c-base: #cdf1f780;

  /* 베이스 후보 3 */
  /* --c-base: #cdf7df80; */

  /* 포인트 후보 1 포인트로 쓰기엔 잘 안보임. */
  /* --c-point: #fdfcc8; */

  /* 포인트 후보 2 */
  /* --c-point: #cdf1f7; */

  /* 2 좀 더 진하게 */
  --c-point: #a3dae3;
  /* --c-point: #bde9f0; */

  /* 포인트 후보 3 */
  /* --c-point: #cdf7df; */

  /* 3 좀 더 진하게 */
  /* --c-point: #a5e6c2; */

  /* --c-point-h: #eae9b1; */
  --c-point-h: #104750;
  /* --c-point-h: #327680; */

  --c-point2: #fdfcc8;
  --c-point2-h: #b6b57a;
  --c-link: #3897f5;
  --c-link-h: #1a7bdc;

  /* background-color: #cdf7df; */
  /* background-color: #fdfcc8; */
  /* background-color: #cdf1f7; */
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}