/* ==================== 헤더 ==================== */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  padding: 10px;
  border-bottom: 1px solid var(--c-point);
}

.title-logo span {
  display: inline-block;
  text-indent: -9999em;
}

.title-logo img {
  width: 150px;
  /* #333333 */
  filter: invert(22%) sepia(0%) saturate(1837%) hue-rotate(221deg) brightness(83%) contrast(95%);

  /* #104750 */
  /* filter: invert(22%) sepia(38%) saturate(787%) hue-rotate(140deg) brightness(97%) contrast(97%); */

  /* #cdf1f7 */
  /* filter: invert(91%) sepia(6%) saturate(1440%) hue-rotate(169deg) brightness(105%) contrast(94%); */

  /* #cdf7df */
  /* filter: invert(93%) sepia(15%) saturate(420%) hue-rotate(82deg) brightness(102%) contrast(94%); */

  /* #fdfcc8 */
  /* filter: invert(95%) sepia(3%) saturate(2137%) hue-rotate(12deg) brightness(102%) contrast(102%); */
}

.user-menu {
  flex: 1;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.user-menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px solid #33333330;
  color: #aaaaaa;
  border-radius: 50%;
  font-size: 1.5rem;
}

.user-menu li a:hover {
  border: 2px solid var(--c-point);
  color: var(--c-point);
}

/* ==================== 헤더 종료 ==================== */

/* ==================== 메뉴 ==================== */
nav {
  width: 1280px;
  text-align: center;
  margin: 0 auto 50px auto;
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-nav li {
  width: 130px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.main-nav>li a {
  display: inline-block;
  border-bottom: 1px solid #33333330;
  color: var(--black-3);
  width: 100%;
  padding: 10px 0;
  font-size: 1.2rem;
}

.sub-nav {
  display: none;
}

.main-nav li:hover {
  background-color: var(--white-e);
}

.main-nav li:hover .sub-nav {
  display: block;
  position: absolute;
  top: 131px;
  z-index: 2;
}

/* ==================== 서브 메뉴 ==================== */
.sub-nav {
  border: 1px solid #dddddd;
  border-top: none;
}

.sub-nav>li {
  color: #333333;
  padding: 10px 0;
  position: relative;
}

.sub-nav>li:not(:last-child) {
  border-bottom: 1px solid #dddddd;
}

.sub-nav>li:hover .sub-nav2 {
  display: block;
  position: absolute;
  left: 130px;
  top: -1px;
}

/* ==================== 서브 메뉴 종료 ==================== */

/* ==================== 메뉴 종료 ==================== */

/* ==================== 메인 ==================== */

main {
  width: 1280px;
  margin: 0 auto;
}

/* ==================== 메인 종료 ==================== */

/* ==================== 푸터 ==================== */

footer {
  margin-top: 50px;
  background-color: var(--black-3);
  color: var(--white-e);
  text-align: center;
  padding: 10px;
}

footer .links {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer .links a {
  color: var(--c-link);
}

footer .links a:hover {
  color: var(--c-link-h);
  text-decoration: underline;
}

footer .links span,
footer span {
  margin: 0 5px;
}

footer .site-address {
  margin-bottom: 5px;
  font-style: normal;
}

footer .site-info p {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .site-info p:not(:last-child) {
  margin-bottom: 5px;
}

footer .site-info p:nth-child(2) {
  margin-bottom: 10px;
}

/* ==================== 푸터 종료 ==================== */