/* ==================== 로그인 ==================== */

main h2 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #333333;
  font-weight: 700;
  font-size: 2rem;
  text-align: left;
  color: var(--black-3);
}

/* 기본 설정 */

.login_page {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

/* .customer_login,
.unknown_login {
  padding: 5px;
} */

/* 밑줄 삭제 글씨 black */
main a {
  text-decoration: none;
  color: var(--black-3);
}

.login_ID {
  color: var(--black-3);
}

/* 입력 박스 관련 지정 */
.login_ID>input,
.login_password>input,
.unknown_login_orderNum>input,
.unknown_login_email>input {
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 1.2rem;
  box-sizing: border-box;
  margin-bottom: 10px;
  color: var(--black-3);
  background-color: var(--white-e);
}

.login_ID>input:focus,
.login_password>input:focus,
.unknown_login_orderNum>input:focus,
.unknown_login_email>input:focus {
  border: 1px solid var(--c-point);
  outline: none;
}

.login_submit,
.find_unknown_order,
.order_submit {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  box-sizing: border-box;
  border: none;
  margin-bottom: 10px;
  background-color: var(--c-point);
  color: var(--c-point-h);
  cursor: pointer;
}

button:hover {
  background-color: var(--c-point-h);
  color: #ffffff;
}

.save_ID {
  text-align: left;
  margin-bottom: 10px;
}

.find_info {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.find_info>a {
  width: 100%;
  text-decoration: underline;
  color: var(--c-link);
  font-size: 1.2rem;
}

.find_info>a:hover {
  color: var(--c-link-h);
}

.join_sns {
  margin-bottom: 30px;
}

.join_sns h3 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #333333;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: left;
  color: var(--black-3);
}

.join_sns a {
  background-color: #FAE100;
  display: block;
  padding: 10px;
  font-size: 1.2rem;
  color: #371D1E;
}

.login-question {
  margin-bottom: 30px;
}

.login-question a {
  color: var(--c-link);
  text-decoration: underline;
}

.login-question a:hover {
  color: var(--c-link-h);
}

/* 비회원 주문 */

/* .unknown_login {
  display: none;
} */

/* 비회원 주문조회 클릭 시 밑에 뜨게 하고 싶음 */

/* ==================== 로그인 종료 ==================== */