/* ==================== 초기화 ==================== */
* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

/* ==================== 레이아웃 가운데로 ==================== */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ==================== 탭 메뉴 박스 디자인 ==================== */
div#menu-box {}

/* ==================== 라벨 디자인 ==================== */
div#menu-box>label {
  display: block;
  width: 200px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  float: left;
  color: #aaaaaa;
  background-color: #dddddd;
  border-bottom: 1px solid #aaaaaa;
  box-sizing: border-box;
}

div#menu-box>input[type="radio"]:checked+label {
  background-color: #f3f3f3;
  color: #333333;
  border: 1px solid #aaaaaa;
  border-bottom: none;
}

/* ==================== 탭 컨텐츠 디자인 ==================== */
div.hidden {
  display: none;
}

input#tab1:checked~div#content1,
input#tab2:checked~div#content2 {
  display: block;
}

div.content {
  padding: 10px;
  clear: both;
  border: 1px solid #aaaaaa;
  border-top: none;
  height: 100px;
}